<h1 class="text-3xl font-bold mb-6">Find a Society</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
  <% @builders.each do |builder| %>
    <div class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition">
      <div class="p-4">
        <h2 class="text-lg font-semibold"><%= builder.name %></h2>
               <div class="flex justify-between items-center mt-3">
          <p class="text-md font-bold"><%= builder.postal_address %></p>
          <p class="text-md font-bold"><%= builder.origin_country %></p>

          </p>
        </div>
        <p class="text-gray-600"><%=link_to "Accéder au", builder.internet_site %></p>
      </div>
    </div>
  <% end %>
</div>
