// Boutons génériques
  .btn {
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
    display: inline-block;

    &.btn-gradient {
      background: $btn-gradient;
    }

    &.btn-platform {
      background-color: #3498db;

      &:hover {
        background-color: darken(#3498db, 10%);
      }
    }

    &.btn-game {
      background-color: #2ecc71;

      &:hover {
        background-color: darken(#2ecc71, 10%);
      }
    }

    &.btn-add {
      background-color: $color-accent;

      &:hover {
        background-color: $color-accent-hover;
      }
    }
  }
