// Boutons génériques
  .btn {
    padding: 0.6rem 1.2rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
    display: inline-block;
    text-transform: uppercase;

    &.btn-gradient-blue {
      background: $btn-gradient-blue;
    }

    &.btn-gradient-green {
      background: $btn-gradient-green;
    }

    &.btn-gradient-gray {
      background: $btn-gradient-gray;
    }

    &.btn-access {
      background-color: #3498db;

      &:hover {
        background-color: darken(#3498db, 10%);
      }
    }

    &.btn-game {
      background-color: #2ecc71;

      &:hover {
        background-color: darken(#2ecc71, 10%);
      }
    }

    &.btn-add {
      background-color: $color-accent;

      &:hover {
        background-color: $color-accent-hover;
      }
    }
    &.btn-return {
      background-color: $dark-red;

      &:hover {
        background-color: darken($dark-red, 5%);
      }
    }
  }
