.card {
  width: 1000px;
  margin: 0 auto;
}
.card-title {
  text-align: center;
}

.card-game {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15x rgba(0,0,0,0.2);
  margin-bottom: 25px;
}
/*
.card-game > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
*/
.card-game h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-game p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-game .card-game-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-game-infos .card-game-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40p
}


.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $dark-red;
  transition: background 0.3s ease;
  width: 500px;
  margin: auto;
}

.btn-flat:hover {
  background: $light-red;
  color: white;
}



.btn-success {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: $primary;
  transition: background 0.3s ease;
  width: 500px;
  margin: auto;
}

.btn-success:hover {
  background: darkblue;
  color: white;
}
